#game-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-card {
    position: relative;
    width: 200px;
    margin: 10px;
  }
  
  .game-image {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  
  .game-card:hover .game-image {
    opacity: 0.5;
  }
  
  .game-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
  }
  
  .game-card:hover .game-info {
    opacity: 1;
  }
  
  #featured-section,
  #all-games-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .genre-button {
    margin: 5px;
  }
  